doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="css/screen.css", type="text/css", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        title Главная
    body
        header
                .container.group
                    a(href="#")#logo
                    .login.group
                        a(href="#").to_be Стать жильцом
                        a(href="#").log Войти
                        a(href="#").like_close
                        a(href="#").open_search
                    .logged.hide
                        a(href="#").speed Поторопить собственников
                        p.user Привет, Константин
                            a(href="#").logout Выйти
        block content
        script(type="text/javascript", src="js/functions.js")
        script(type="text/javascript", src="js/steps.js")