@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTBold.eot');
  src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
  url('../fonts/FuturaPTBold.woff2') format('woff2'),
  url('../fonts/FuturaPTBold.woff') format('woff'),
  url('../fonts/FuturaPTBold.ttf') format('truetype'),
  url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTBook.eot');
  src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
  url('../fonts/FuturaPTBook.woff2') format('woff2'),
  url('../fonts/FuturaPTBook.woff') format('woff'),
  url('../fonts/FuturaPTBook.ttf') format('truetype'),
  url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTDemi.eot');
  src: url('../fonts/FuturaPTDemi.eot') format('embedded-opentype'),
  url('../fonts/FuturaPTDemi.woff2') format('woff2'),
  url('../fonts/FuturaPTDemi.woff') format('woff'),
  url('../fonts/FuturaPTDemi.ttf') format('truetype'),
  url('../fonts/FuturaPTDemi.svg#FuturaPTDemi') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTMedium.eot');
  src: url('../fonts/FuturaPTMedium.eot') format('embedded-opentype'),
  url('../fonts/FuturaPTMedium.woff2') format('woff2'),
  url('../fonts/FuturaPTMedium.woff') format('woff'),
  url('../fonts/FuturaPTMedium.ttf') format('truetype'),
  url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}