@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "fonts";
@import "../../bower_components/jquery-form-styler/jquery.formstyler.css";

.group:after{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}
.transition{
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.like_table{
  display: table;
  width:100%;
  height: 100%;
}
.table_cell{
  display: table-cell;
  width:100%;
  height: 100%;
  vertical-align: middle;
}
.relative{
  position: relative;
}
ul.list_inline li{
  display: inline-block;
}

//variables
$font: 'FuturaPT', sans-serif;
$font2: "PT Sans", sans-serif;

//mixins
@mixin border-radius($radius){
  border-radius: $radius;
}
.container{
  padding: 0;
}
body{
  background: #F2F2F2;
  &.scroll_header{
    padding-top: 120px;
    header{
      height: 70px;
      position: fixed;
      top:0;
      left:0;
      z-index: 100;
      box-shadow: 0px 1px 20px rgba(0,0,0,0.2);
      #logo{
        margin-top:15px;
      }
      .login{
        margin:15px 20px 0 0;
        a.log{
          text-indent: -99999px;
          line-height: 40px;
        }
        a.to_be{
          width:170px;
          height: 40px;
          padding-left: 45px;
          background-position: 15px 50%;
          background-size: auto 20px;
          line-height: 40px;
          margin-right: 30px;
        }

      }
      .logged{
        margin-top: 15px;
        p.user span{
          display: none;
        }
        a.to_be{
          width:170px;
          height: 40px;
          padding-left: 45px;
          background-position: 15px 50%;
          background-size: auto 20px;
          line-height: 40px;
          margin-right: 10px;
        }
        a.speed{
          display: none;
        }
        p{
          line-height: 40px;
          a.logout{
            margin-left: 0;
          }
        }
      }
    }
  }
  &.scroll_search{
    #search_people{
      #search_form{
        width:625px;
        background: none;
        position: fixed;
        top:15px;
        left:50%;
        z-index: 120;
        margin:0 0 0 -313px;
        padding: 0;
        .types{
          label{
            background: #f9f9f9;
          }
          #type2 + label{
            margin-left: 2px;
          }
        }
        .search{
          margin-left: 18px;
          input{
            width:315px;
            background: #f9f9f9;
          }
          button{
            text-indent: -99999px;
            width:55px;
            padding-left: 0;
            background-position: 50% 50%;
            &.search{
              text-indent: 0;
            }
          }
        }
      }
    }
  }
}
header{
  width:100%;
  height:120px;
  background: #ffffff;
  position: relative;
  #logo{
    float:left;
    width:213px;
    height:40px;
    background:url(../images/logo.png) no-repeat;
    margin:40px 0 0 0;
  }
  .login{
    float:right;
    margin-top:35px;
    a.to_be{
      float:left;
      width:210px;
      background:#F0413F url(../images/icon1.png) no-repeat 30px 50%;
      padding:0 0 0 70px;
      color:#ffffff;
      font:500 18px/50px $font;
      margin-right:50px;
      &:hover{
        text-decoration: none;
        background-color: #F05F5C;
      }
    }
    a.log{
      float:left;
      color:#111111;
      font:500 18px/50px $font;
      padding-left: 35px;
      background:url(../images/icon2.png) no-repeat 0px 50%;
    }
    a.like_close{
      display: none;
    }
    a.open_search{
      display: none;
    }
  }
  .social_wind{
    width:200px;
    background: #ffffff;
    z-index: 150;
    position: absolute;
    right:0;
    top:50%;
    margin-top: -20px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
    display: none;
    a{
      float:left;
      height:40px;
      font-size: 16px;
      line-height: 40px;
      color:#111111;
      text-align: center;
      &.full{
        width:100%;
      }
      &.half{
        width:50%;
      }
      &:hover{
        opacity: 0.9;
      }
    }
    a + a{
      border-left:1px solid #F2F2F2;
    }
  }
  .logged{
    float:right;
    margin-top:35px;
    a.to_be{
      float:left;
      width:210px;
      background:#F0413F url(../images/icon1.png) no-repeat 30px 50%;
      padding:0 0 0 70px;
      color:#ffffff;
      font:500 18px/50px $font;
      margin-right:50px;
      &:hover{
        text-decoration: none;
        background-color: #F05F5C;
      }
    }
    a.speed{
      width:300px;
      padding-left: 65px;
      background: url(../images/icon5.png) no-repeat 30px 50% #F0413F;
      float:left;
      color:#ffffff;
      font:500 18px/50px $font;
      margin-right:50px;
    }
    p.user{
      float:left;
      color:#111111;
      font:500 18px/50px $font;
      vertical-align: middle;
      a.logout{
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;
        color:#BCBCBC;
        padding-left: 40px;
        background: url(../images/icon6.png) no-repeat 0% 50%;
      }
    }
  }
}
#search_people{
  width:100%;
  height: 560px;
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  padding-top: 67px;
  h1{
    color:#ffffff;
    font:bold 48px/60px $font;
    text-align: center;
    margin-bottom: 24px;
  }
  h2{
    color:#ffffff;
    text-align: center;
    font:30px $font;
    vertical-align: middle;
    margin-bottom: 115px;
    &:before{
      content:"";
      display: inline-block;
      width:30px;
      height: 2px;
      background: #F0413F;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:after{
      content:"";
      display: inline-block;
      width:30px;
      height: 2px;
      background: #F0413F;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  #search_form{
    margin:0 30px;
    background: rgba(0,0,0,0.5);
    padding: 40px 0 40px 95px;
    &.loading{
      position: relative;
      &:before{
        content:"";
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 10;
        background: url(../images/loader.gif) no-repeat center rgba(255,255,255,0.6);
      }
    }
    .types{
      float:left;
      input{
        position: absolute;
        left:-99999px;
      }
      label{
        float:left;
        padding: 0 20px;
        background: #ffffff;
        color:#111111;
        font:18px/40px $font;
        cursor: pointer;
      }
      input:checked + label{
        background: #15C585;
        color:#ffffff;
      }
    }
    .search{
      float:left;
      margin-left: 20px;
      input{
        width:465px;
        float:left;
        background: #ffffff;
        border:none;
        height:40px;
        padding: 0 0 0 20px;
        font:18px $font;
      }
      button{
        float:left;
        margin-left: 20px;
        border:none;
        background: #15C585 url(../images/icon3.png) no-repeat 30px 50%;
        text-align: left;
        padding-left: 60px;
        width:210px;
        height: 40px;
        color:#ffffff;
        font:500 18px/34px $font;
        &.search{
          background-image: none;
          padding-left: 0;
          text-align: center;
          i{
            animation-name:'rotating';
            animation-duration:4s;
          }
        }
      }
    }
  }
}
@keyframes 'rotating'{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
#flats{
  margin-top:80px;
  /*&.searched{
    position: relative;
    &:before{
      content:"";
      width:100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: rgba(255,255,255, 0.6) url(../images/loader.gif) no-repeat center ;
      z-index: 100;
    }
  }*/
  .grid{
    .grid_item{
      width:280px;
    }
    .now_on_site{
      border:10px solid #15C585;
      height: 280px;
      padding: 0 15px;
      margin-bottom: 20px;
      p{
        text-align: center;
        color:#111111;
        font:24px/30px $font;
        span{
          color:#15C585;
          font-size: 72px;
          display: block;
          margin:24px 0 30px;
        }
      }
    }
    .human {
      width: 280px;
      background: #ffffff;
      margin-bottom: 20px;

      &:hover{
        box-shadow: 0px 0px 25px rgba(0,0,0,.25);
        .links{
          a.vk{
            background: #507BAF;
            color:#ffffff;
          }
          a.fb{
            color:#ffffff;
            background: #2351B2;
          }
          a + a{
            border-left:none;
          }
        }
      }
      .foto{
        margin-bottom: 30px;
        position: relative;
        height:280px;
        width:280px;
        overflow: hidden;
        img{
          width:100%;
          height: 100%;
        }
        .your_block{
          width:220px;
          height:40px;
          padding-left: 70px;
          background: rgba(0,0,0,0.5) url(../images/your.png) no-repeat 35px 50%;
          position: absolute;
          bottom:20px;
          left:30px;
          color:#ffffff;
          font:500 16px/40px $font;
        }
        .already{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background: rgba(240,65,63,0.9);
          p{
            text-align: center;
            color:#ffffff;
            font:18px/25px $font;
          }
        }
      }
      .money{
        padding: 0 30px;
        .pay{
          float:left;
          width:125px;
        }
        .time{
          float:left;
        }
        p.title{
          color:#757575;
          font:11px $font2;
          text-transform: uppercase;
          margin-bottom: 3px;
        }
        p.value{
          color:#111111;
          font:24px $font;
        }
      }
      .desc{
        padding: 5px 30px 0;
        color:#111111;
        font:14px/25px $font2;
        p{
          margin-bottom: 0;
          color:#111111;
          font:14px/25px $font2;
        }
      }
      .hide_me{
        display: block;
        width:220px;
        margin:17px auto auto;
        background: #15C585;
        color:#ffffff;
        font:500 18px/20px $font;
        text-align: center;
        padding: 9px 0 11px;
        &:hover{
          opacity: 0.9;
        }
      }
      .repeat_links{
        width:220px;
        margin:17px auto auto;
        a{
          display: block;
          height: 40px;
          color:#ffffff;
          font:500 18px/40px $font;
          text-align: center;
          &.repeat{
            background: #15C585;
          }
          &.new{
            background: #F0413F;
            margin-top:10px;
          }
          &:hover{
            text-decoration: none;
            opacity: 0.9;
          }
        }
      }
      .links{
        border-top:1px solid #F2F2F2;
        margin-top:27px;
        a{
          float:left;
          height:40px;
          font-size: 16px;
          line-height: 40px;
          color:#111111;
          text-align: center;
          &.full{
            width:100%;
          }
          &.half{
            width:50%;
          }
          &:hover{
            opacity: 0.9;
          }
        }
        a + a{
          border-left:1px solid #F2F2F2;
        }
      }
    }
  }
  a.more_people{
    display: block;
    background: url(../images/more.png) no-repeat;
    width:80px;
    height: 60px;
    margin:80px auto 130px;
  }
}
.after_posting{
  background: #15C585;
  padding: 15px 0 20px 0;
  p{
    color:#ffffff;
    font:500 18px/25px $font;
    text-align: center;
    margin-bottom: 0;
  }
  a.close_mess{
    display: block;
    width:16px;
    height:16px;
    background: url(../images/close.png) no-repeat;
    position: absolute;
    right:0;
    top:50%;
    margin-top: -8px;
  }
}
.add_page{
  margin-top: 40px;
  &.boost{
    .heading{
      h1{
        line-height: 55px;
        margin-bottom: 20px;
      }
    }
  }
  .heading{
    h1{
      text-align: center;
      color:#111111;
      font:bold 60px $font;
    }
    .return{
      position: absolute;
      left:0;
      top:10px;
      a{
        background: #E8E8E8 url(../images/left.png) no-repeat center;
        display: block;
        width:60px;
        height: 60px;
        float:left;
      }
      p{
        float:left;
        color:#757575;
        font:14px/60px $font2;
        margin-left: 20px;
      }
    }
  }
  #add_form{
    padding-bottom: 140px;
    margin-top: 50px;
    .step{
      border-bottom: 1px solid #E6E6E6;
      padding-bottom: 25px;
      margin-bottom: 40px;
      &.not_active{
        opacity: 0.3;
        position: relative;
        &:before{
          content:"";
          width:100%;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
        }
      }
      p.mess{
        color: #111111;
        font: 18px $font2;
        text-align: center;
      }
      .title_block{
        float:left;
        margin:0 35px 0 200px;
        width:265px;
        p.title{
          font:500 24px $font;
          margin-bottom: 15px;
        }
        p{
          color:#111111;
          font:18px $font2;
          span{
            color:#757575;
            font-size: 14px;
          }
        }
      }
      .value_block{
        float:left;
        margin-top:40px;
        color:#111111;
        font:18px $font2;
        input.social, input.flats{
          position: absolute;
          left:-99999px;
        }
        label.vk_label, a.vk_label{
          float:left;
          padding: 0 55px;
          background: #507BAF;
          color:#ffffff;
          font:500 18px/40px $font;
          cursor: pointer;
        }
        input:checked + label.vk_label{
          background: #507BAF;
          color:#ffffff;
        }
        label.fb_label, a.fb_label{
          float:left;
          padding: 0 55px;
          background: #2351B2;
          color:#ffffff;
          font:500 18px/40px $font;
          cursor: pointer;
        }
        input:checked + label.fb_label{
          background: #2351B2;
          color:#ffffff;
        }
        label.room_type{
          float:left;
          width:180px;
          height:175px;
          background: #ffffff;
          text-align: center;
          color:#111111;
          font:18px $font;
          padding-top: 125px;
          cursor: pointer;
          &.type1{
            background: url(../images/type1.png) no-repeat 50% 38px #ffffff;
          }
          &.type2{
            border-left:1px solid #E6E6E6;
            background: url(../images/type3.png) no-repeat 50% 38px #ffffff;
          }
        }
        input:checked + label.room_type.type1{
          background: url(../images/type2.png) no-repeat 50% 38px #15C585;
          color:#ffffff;
        }
        input:checked + label.room_type.type2{
          background: url(../images/type4.png) no-repeat 50% 38px #15C585;
          color:#ffffff;
        }
        input{
          width:180px;
          height: 40px;
          border:none;
          border-bottom: 1px solid #E6E6E6;
          background: #ffffff;
          padding: 0 0 0 10px;
          font: 18px/38px $font;
          color: #111111;
          margin-right: 20px;
          @include border-radius(0);
          &[name="address"]{
            width:480px;
          }
        }
        textarea{
          width:480px;
          height: 160px;
          border:none;
          resize: none;
          border-bottom: 1px solid #E6E6E6;
          background: #ffffff;
          padding: 0 0 0 10px;
          font: 18px/38px $font;
          color: #111111;
          margin-right: 20px;
          @include border-radius(0);
        }
      }
    }
    button{
      display: block;
      width:250px;
      height: 50px;
      border:none;
      background: #15C585;
      color:#ffffff;
      font:500 18px $font;
      margin:50px auto;
    }
  }
}
.jq-selectbox__trigger{
  background: url(../images/select.png) no-repeat 0% 50%;
}
#pay_block {
  margin:50px 0;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 35px;
  .text{
    width:780px;
    margin:auto auto;
    p.bold{
      color:#111111;
      font:500 24px/30px $font;
      margin-bottom: 12px;
    }
    p{
      color:#111111;
      font:18px $font2;
    }
    .summ{
      background: #ffffff;
      text-align: center;
      padding: 35px 0 30px;
      position: relative;
      margin-bottom: 37px;
      margin-top: 45px;
      &:after{
        content:"";
        width:100%;
        height: 5px;
        background: url(../images/icon7.png);
        position: absolute;
        left:0;
        bottom:-5px;
      }
      p.title{
        color:#757575;
        font:14px $font2;
        margin-bottom: 0;
      }
      span{
        color:#15C585;
        font:72px $font;
      }
    }
  }
}
#pay_form{
  padding-bottom: 135px;
  button{
    display: block;
    margin: auto;
    width:275px;
    height: 50px;
    border:none;
    background: #15C585;
    color:#ffffff;
    font:500 18px $font;
  }
}
.alertmodal{
  .modal_content{
    width:300px;
    margin:auto;
    background: #ffffff;
    padding: 25px 0;
    text-align: center;
    h3{
      font-size: 20px;
    }
  }
}


//retina
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  header{
    #logo{
      background-image: url(../images/logo@2x.png);
      background-size: 213px 40px;
    }
    .login{
      a.to_be{
        background-image: url(../images/icon1@2x.png);
        background-size: 25px 25px;
      }
      a.log{
        background-image: url(../images/icon2@2x.png);
        background-size: 19px 24px;
      }
    }
    .logged{
      a.to_be{
        background-image: url(../images/icon1@2x.png);
        background-size: 25px 25px;
      }
      a.speed{
        background-image: url(../images/icon5@2x.png);
        background-size: 21px 24px;
      }
      p.user{
        a.logout{
          background-image: url(../images/icon6@2x.png);
          background-size: 28px 20px;
        }
      }
    }
  }
  #search_people{
    #search_form{
      .search{
        button{
          background-image: url(../images/icon3@2x.png);
          background-size: 16px 16px;
        }
      }
    }
  }
  #flats{
    .grid{
      .human{
        .foto{
          .your_block{
            background-image: url(../images/your@2x.png);
            background-size: 22px 18px;
          }
        }
      }
    }
    a.more_people{
      background-image: url(../images/more@2x.png);
      background-size: 80px 60px;
    }
  }
  .after_posting{
    a.close_mess{
      background-image: url(../images/icon8@2x.png);
      background-size: 16px 16px;
    }
  }
  .add_page{
    .heading{
      .return{
        a{
          background-image: url(../images/left@2x.png);
          background-size: 20px 14px;
        }
      }
    }
    #add_form{
      .step{
        .value_block{
          label.room_type{
            &.type1{
              background-image: url(../images/type1@2x.png);
              background-size: 80px 77px;
            }
            &.type2{
              background-image: url(../images/type3@2x.png);
              background-size: 80px 77px;
            }
          }
          input:checked + label.room_type.type1{
            background-image: url(../images/type2@2x.png);
            background-size: 80px 77px;
          }
          input:checked + label.room_type.type2{
            background-image: url(../images/type4@2x.png);
            background-size: 80px 77px;
          }
        }
      }
    }
  }
  #pay_block{
    .summ{
      &:after{
        background-image: url(../images/icon7@2x.png);
        background-size: 22px 5px;
      }
    }
  }
}


//media-queries
@media (max-width: 1199px) and (min-width:992px){
  #search_people{
    #search_form{
      padding-left: 20px;
      .search{
        input{
          width:410px;
        }
      }
    }
  }
  body.scroll_search{
    #search_people{
      #search_form{
        width:425px;
        margin-left: -213px;
        .types{
          label{
            padding: 0 5px;
          }
        }
        .search{
          margin-left: 0;
          input{
            width:200px;
          }
          button{
            margin-left: 0;
          }
        }
      }
    }
  }
  .add_page{
    #add_form{
      .step{
        .title_block{
          margin-left:40px;
        }
      }
    }
  }
}
@media (max-width: 991px) and (min-width:768px){
  #search_people{
    padding-top: 25px;
    h2{
      margin-bottom: 80px;
    }
    #search_form{
      padding-left: 0;
      padding-right: 0;
      .types{
        float:none;
        width:215px;
        margin: auto auto 10px;
      }
      .search{
        width:465px;
        margin: auto;
        float:none;
        input{
          float:none;
          margin-bottom: 10px;
        }
        button{
          float:none;
          margin: auto;
          display: block;
        }
      }
    }
  }
  body.scroll_header{
    header{
      #logo{
        width:40px;
      }
      .login, .logged{
        a.to_be{
          width:45px;
          padding-left: 0px;
          text-indent: -99999px;
          background-position: 50% 50%;
          margin-right: 15px;
        }
      }
    }
  }
  body.scroll_search{
    #search_people{
      #search_form{
        width:425px;
        margin-left: -213px;
        .types{
          float:left;
          width:auto;
          label{
            padding: 0 5px;
          }
        }
        .search{
          float:left;
          margin-left: 0;
          width:auto;
          input{
            float: left;
            width:200px;
          }
          button{
            float: left;
            margin-left: 0;
          }
        }
      }
    }
  }
  .add_page{
    .heading{
      h1{
        text-align: right;
      }
    }
    #add_form{
      .step{
        .title_block{
          margin-left:0;
        }
        .value_block{
          input[name="address"], textarea{
            width:380px;
          }
        }
      }
    }
  }
  #pay_block{
    .text{
      width:100%;
    }
  }
}
@media (min-width: 769px){
  body.scroll_search {
    #search_people {
      #search_form {
        display: block !important;
      }
    }
  }
}
@media (max-width: 768px){
  .container{
    padding: 0 10px;
  }
  body.scroll_header{
    padding-top: 70px;
    header{
      .logged{
        margin-top: 10px;
      }
    }
  }
  header{
    height: 70px;
    #logo{
      width:40px;
      margin-top: 15px;
    }
    .login{
      margin-top: 15px;
      a.to_be{
        //width:45px;
        padding-left: 40px;
        //text-indent: -99999px;
        background-position: 10px 50%;
        margin-right: 15px;
        width:150px;
        text-indent: 0;
        line-height: 40px;
        font-size: 14px;
      }
      a.log{
        text-indent: -99999px;
        height: 40px;
        line-height: 40px;
      }
    }
    .logged{
      margin-top: 15px;
      a.speed{
        width:130px;
        padding-left: 30px;
        height: 40px;
        overflow: hidden;
        background-position: 5px 50%;
        line-height: 40px;
        margin-right: 0;
      }
      p.user{
        line-height: 40px;
        span{
          display: none;
        }
        a.logout{
          margin-left: 0;
        }
      }
      /*a.to_be{
        width:45px;
        padding-left: 0px;
        text-indent: -99999px;
        background-position: 50% 50%;
        margin-right: 15px;
      }*/
      a.to_be{
        //width:45px;
        padding-left: 40px;
        //text-indent: -99999px;
        background-position: 10px 50%;
        margin-right: 15px;
        width:150px;
        text-indent: 0;
        line-height: 40px;
        font-size: 14px;
      }
    }
  }
  #search_people{
    padding-top: 20px;
    height: auto;
    h1{
      font:bold 28px/36px $font;
    }
    h2{
      font:21px $font;
      margin-bottom: 30px;
      &:before{
        margin:0 auto 20px;
        display: block;
      }
      &:after{
        display: none;
      }
    }
    #search_form{
      margin: 0;
      height: auto;
      padding: 30px 0;
      .types{
        float:none;
        width:215px;
        margin: auto auto 10px;
      }
      .search{
        width:80%;
        margin: auto;
        float:none;
        input{
          display: block;
          width:100%;
          float:none;
          margin-bottom: 10px;
        }
        button{
          width:215px;
          float:none;
          margin: auto;
          display: block;
        }
      }
    }
  }
  #flats{
    margin-top: 30px;
    .grid{
      width:280px;
      margin:auto;
    }
  }
  body.scroll_header{
    header{
      height: 60px;
      #logo{
        height: 40px;
        width:40px;
        background-size: auto 100%;
        margin-top:10px;
      }
      .login{
        float:right;
        margin-top:10px;
        margin-right: 0;
        a.to_be{
          height: 40px;
          width:150px;
          text-indent: 0;
          line-height: 40px;
          margin-right: 10px;
          font-size: 14px;
        }
        a.log{
          width:40px;
          height: 40px;
          background: #DCDCDC url(../images/icon4.png) no-repeat center;
        }
        a.like_close{
          display: none;
          width:40px;
          height: 40px;
          background: #636363 url(../images/icon8.png) no-repeat center;
          float:left;
          margin-left: 10px;
          text-align: center;
          line-height: 40px;
          color:#ffffff;
          font-size: 20px;
          position: relative;
        }
        a.open_search{
          display: block;
          width:40px;
          height: 40px;
          background: #15C585 url(../images/icon3.png) no-repeat center;
          float:left;
          margin-left: 10px;
        }
      }
      .logged{
        a.logout{
          width:30px;
          height: 40px;
          padding-left: 0;
          text-indent: -99999px;
        }
        a.like_close{
          display: none;
          width:40px;
          height: 40px;
          background: #636363 url(../images/icon8.png) no-repeat center;
          float:left;
          margin-left: 10px;
          text-align: center;
          line-height: 40px;
          color:#ffffff;
          font-size: 20px;
          position: relative;
        }
        a.open_search{
          display: block;
          width:40px;
          height: 40px;
          background: #15C585 url(../images/icon3.png) no-repeat center;
          float:left;
          margin-left: 10px;
        }
        a.to_be{
          height: 40px;
          width:150px;
          text-indent: 0;
          line-height: 40px;
          margin-right: 15px;
          font-size: 14px;
        }
      }
    }
  }
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    body.scroll_header{
      header{
        .login{
          a.log{
            background-image: url(../images/icon4@2x.png);
            background-size: 18px 25px;
          }
          a.like_close{
            background-image: url(../images/icon8@2x.png);
            background-size: 16px 16px;
          }
          a.open_search{
            background-image: url(../images/icon3@2x.png);
            background-size: 16px 16px;
          }
        }
      }
    }
  }
  body.scroll_search{
    #search_people{
      #search_form{
        display: none;
        width:100%;
        height:110px;
        top:60px;
        left:0;
        margin:0;
        background: rgba(0,0,0,0.5);
        padding: 10px 0 0 0;
        .types{
          margin-bottom: 5px;
          width:217px;
        }
        .search{
          width:300px;
          margin-left: auto;
          position: relative;
          input{
            width:300px;
            padding-right: 45px;
          }
          button{
            width:45px;
            position: absolute;
            top:0;
            right:0;
          }
        }
      }
    }
  }
  .add_page{
    .heading{
      h1{
        text-align: center;
        font-size: 38px;
        padding-top: 70px;
      }
      .return{
        top:0;
      }
    }
    #add_form{
      .step{
        .title_block{
          margin-left:0;
          float:none;
          margin-right: 0;
        }
        .value_block{
          float:none;
          input[name="address"], textarea{
            width:90%;
          }
        }
      }
    }
  }
  #pay_block{
    .text{
      width:100%;
      p.bold{
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .after_posting{
    p{
      font-size: 16px;
      line-height: 22px;
      padding: 0 25px;
    }
    a.close_mess{
      right:10px;
    }
  }
}
