extends ./layout/layout

block content
    .add_page.boost
        .container.group
            .heading.group.relative
                h1 Поторопить
                    br
                    | собственников
                .return
                    a(href="#")
                    p Лучше 100 лет буду искать
        #pay_block
            .container.group
                .text
                    p.bold.text-center Если вопрос срочный, то вы можете ускорить поиск в 2 раза!
                    .summ(style="margin-top:55px;")
                        p.title Сумма к оплате:
                        span 350 ₽
                    p На эту сумму мы запустим рекламу в Facebook и Instagram, чтобы привлечь подходящих вам собственников.
        form#pay_form
            input(type="hidden", name="summ", value="350")
            button(type="submit") Оплатить