extends ./layout/layout

block content
    .add_page
        .container.group
            .heading.group.relative
                h1 Стать жильцом
                .return
                    a(href="#")
                    p Лучше 100 лет буду искать
        form#add_form
            .step
                .container.group
                    .title_block
                        p.title Шаг 1.
                        p Выберите профиль для контакта
                            = ' '
                            span (можете оба, чаты всегда удобнее звонков)
                    .value_block.group
                        input(type="checkbox", name="profile[]", value="vk", id="profile1").social
                        label.vk_label(for="profile1") Вконтакте
                        input(type="checkbox", name="profile[]", value="fb", id="profile2").social
                        label.fb_label(for="profile2") Facebook
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 2.
                        p Вы ищите
                    .value_block.group
                        input(type="radio", name="type", value="flat", id="flat1").flats
                        label(for="flat1").room_type.type1 Комнату
                        input(type="radio", name="type", value="room", id="flat2").flats
                        label(for="flat2").room_type.type2 Квартиру
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 3.
                        p На период в
                    .value_block.group
                        select(name="period")
                            option 1
                            option 2
                            option 3
                        = ' '
                        | месяц
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 4.
                        p С ежемесячной платой
                            = ' '
                            span (включая все платежи)
                    .value_block.group
                        input(type="text", name="summ", value="")
                        = " "
                        | рублей
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 5.
                        p Укажите адрес, который вы чаще всего будете посещать
                            = ' '
                            span (место работы, садик ребёнка, любимый парк, родственники)
                    .value_block.group
                        input(type="text", name="address", value="")
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 6.
                        p Время в пути
                            = ' '
                            span (в каком радиусе от этого адреса вы готовы жить)
                    .value_block.group
                        select(name="period")
                            option 5
                            option 10
                            option 15
                        = ' '
                        | минут
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 7.
                        p Ваши пожелания
                            = ' '
                            span (что там должно быть для вас)
                    .value_block.group
                        textarea(name="comment")
            .step
                .container
                    p.mess Вы можете разместить несколько объявлений с разной локацией и условиями
            button(type="submit") Разместить объявление