extends ./layout/layout

block content
    #search_people
        h1 Сервис надёжных
            br
            | жильцов
        h2 Аренда квартир и комнат без риелторов
        .container
            form#search_form.group
                .types.group
                    input(type="radio", name="flattype", value="1")#type1
                    label(for="type1") Квартира
                    input(type="radio", name="flattype", value="2")#type2
                    label(for="type2") Комната
                .search.group
                    input(type="text", name="address", placeholder="По адресу")
                    button(type="submit") Выбрать жильца
    .after_posting
        .container.relative
            p Объявление успешно создано. Начинаем привлекать собственников под ваши условия.
            p Проверьте, что вам можно писать личные сообщения по указанному контактному профилю.
            a.close_mess(href="#")
    #flats
        .container.group
            .grid
                .now_on_site.grid_item
                    .like_table
                        .table_cell
                            p Сейчас
                                = ' '
                                span 29
                                = ''
                                | собственников выбирают жилье
                .human.grid_item
                    .foto
                        img(src="images/man1.jpg", alt="", class="img-responsive")
                        .your_block Ваше объявление
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 120 000 ₽
                        .time
                            p.title Период
                            p.value 6 мес.
                    .desc
                        p Не курю. Рассматриваю однушку
                            | в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                            | p.s. За хороший ремонт согласна
                            | на чуть дороже или дольше.
                    a(href="#").hide_me.hide Уже заселился,
                        br
                        | спрячьте меня
                    .repeat_links
                        a(href="#").repeat Возобновить поиск
                        a(href="#").new Новое объявление
                    .links.group
                        a(href="#").full.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man2.jpg", alt="", class="img-responsive")
                        .already
                            .like_table
                                .table_cell
                                    p Уже стал жильцом,
                                        br
                                        | вы чуть-чуть не успели
                                        br
                                        | :(
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 90 000 ₽
                        .time
                            p.title Период
                            p.value 3 мес.
                    .desc
                        p Сниму квартиру на лето
                    .links.group
                        a(href="#").half.vk
                            i.fa.fa-vk
                        a(href="#").half.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man3.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
                .human.grid_item
                    .foto
                        img(src="images/man4.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 120 000 ₽
                        .time
                            p.title Период
                            p.value 6 мес.
                    .desc
                        p Не курю. Рассматриваю однушку
                            | в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                            | p.s. За хороший ремонт согласна
                            | на чуть дороже или дольше.
                    .links.group
                        a(href="#").full.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man5.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 90 000 ₽
                        .time
                            p.title Период
                            p.value 3 мес.
                    .desc
                        p Сниму квартиру на лето
                    .links.group
                        a(href="#").half.vk
                            i.fa.fa-vk
                        a(href="#").half.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man6.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
                .human.grid_item
                    .foto
                        img(src="images/man6.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
            a.more_people(href="#")