extends ./layout/layout

block content
    .add_page
        .container.group
            .heading.group.relative
                h1 Оплата
                .return
                    a(href="#")
                    p Лучше 100 лет буду искать
        #pay_block
            .container.group
                .text
                    p.bold Ваше объявление размещается на 90 дней, в любой момент его можно скрыть, а также возобновлять поиск неограниченное число раз.
                    p Вы можете разместить несколько объявлений с разной локацией и условиями.
                    .summ
                        p.title Сумма к оплате:
                        span 350 ₽
                    p На эту сумму мы запустим рекламу в Facebook и Instagram, чтобы привлечь подходящих вам собственников.
        form#pay_form
            input(type="hidden", name="summ", value="350")
            button(type="submit") Оплатить и стать жильцом